<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.76.0" targetFramework="net40" />
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net40" />
  <package id="Magick.NET.Core" version="14.6.0" targetFramework="net481" />
  <package id="Magick.NET-Q8-AnyCPU" version="14.6.0" targetFramework="net481" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net481" />
  <package id="System.Drawing.Common" version="8.0.8" targetFramework="net481" />
  <package id="System.IO.Abstractions" version="22.0.12" targetFramework="net481" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net481" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net481" />
  <package id="TestableIO.System.IO.Abstractions" version="22.0.12" targetFramework="net481" />
  <package id="TestableIO.System.IO.Abstractions.Wrappers" version="22.0.12" targetFramework="net481" />
  <package id="Testably.Abstractions.FileSystem.Interface" version="9.0.0" targetFramework="net481" />
</packages>